<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="iReporter enables any/every citizen to bring any form of corruption to the notice of appropriate authorities and the general public.">
  <meta name="author" content="Michael Obasi">
  <meta name="keyword" content="iReporter">
  <title>iReporter</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/dashboard.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
  <header>
    <div class="navbar fixed shade-default bg-light">
      <div class="container">
        <a href="" class="logo">
          <img src="../images/bg-2.svg" height="60px" alt="logo">eporter
        </a>
        <input type="checkbox" id="burger-toggle">
        <label id="burger" for="burger-toggle">
          <div></div>
        </label>
        <nav class="nav">
          <a class="nav-bar-link active" href="#">Home</a>
          <a class="nav-bar-link" href="#">Services</a>
          <a class="nav-bar-link" href="#">Red-flags</a>
          <a class="nav-bar-link" href="#">Interventions</a>
        </nav>
      </div>
    </div>
  </header>

  <section class="main">
    <div class="flex">
      <div class="left">

        <div class="profile">

          <div class="user item">
            <a href=""><i class="fas fa-user-circle" title="user profile"></i></a>
          </div>
          <div class="close">
            <div class="mg-t">
              <img id="profile-img" src="../images/profile-pic.png" alt="Profile Image">
            </div>
            <div class="">
              <h4 class="crop mg-t bolder">Kelly Hartmann</h4>
              <h4 class="crop mg-t bold">hartmann_kelly@gmail.com</h4>
              <h4 class="crop mg-t bold">0802-3333-444</h4>
            </div>
          </div>
        </div>

        <div class="details">
          <ul class="list-item">
            <li class="item">
              <a href=""><i class="fas fa-flag-checkered" title="red-flags"></i></a>
              <a href="" class="sd">Red-Flags <b>124</b></a>
            </li>
            <li class="item">
              <a href=""><i class="fas fa-headset" title="interventions"></i></a>
              <a href="" class="sd">Interventions <b>75</b></a>
            </li>
            <li class="item">
              <a href=""><i class="fas fa-bell" title="notifications"></i></a>
              <a href="" class="sd">Create Red-flag <i></i></a>
            </li>
            <li class="item">
              <a href=""><i class="fas fa-sign-out-alt" title="sign out"></i></i></a>
              <a href="" class="sd">Create Intervention <i></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="right w-100">
        <div class="breadboard">
          <h2 class="breadboard-header j-c-sb">
            <span class="head">Red-flag Records</span>
            <input type="search" name="searchbar" placeholder="Search here" class="search">
          </h2>

          <div class="dip">
            <ul class="list-item">
              <li class="item list">
                <div class="date t-c">18<br> Jan</div>
                <div class="j-c-cl">
                  <a href="" class="pd-l"><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut,</b></a>
                  <div class="pd-l">
                    <small>200 views</small>
                    <small>status: <i>unresolved</i></small>
                  </div>
                </div>
              </li>
              <li class="item list">
                <div class="date t-c">18<br> Jan</div>
                <div class="j-c-cl">
                  <a href="" class="pd-l"><b>Lorem ipsum dolor sit amet co elit. Ut,</b></a>
                  <div class="pd-l">
                    <small>20 views</small>
                    <small>status: <i>resolved</i></small>
                  </div>
                </div>
              </li>
              <li class="item list">
                <div class="date t-c">18<br> Jan</div>
                <div class="j-c-cl">
                  <a href="" class="pd-l"><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, reprehenderit! Quaerat adipisci facere nobis animi </b></a>
                  <div class="pd-l">
                    <small>500 views</small>
                    <small>status: <i>rejected</i></small>
                  </div>
                </div>
              </li>
              <li class="item list">
                <div class="date t-c">18<br> Jan</div>
                <div class="j-c-cl">
                  <a href="" class="pd-l"><b>Goodluck bribes Jonathan</b></a>
                  <div class="pd-l">
                    <small>201 views</small>
                    <small>status: <i>unresolved</i></small>
                  </div>
                </div>
              </li>
              <li class="item list">
                <div class="date t-c">18<br> Jan</div>
                <div class="j-c-cl">
                  <a href="" class="pd-l"><b>Goodluck bribes Jonathan</b></a>
                  <div class="pd-l">
                    <small>200 views</small>
                    <small>status: <i>unresolved</i></small>
                  </div>
                </div>
              </li>
              <li class="item list">
                <div class="date t-c">18<br> Jan</div>
                <div class="j-c-cl">
                  <a href="" class="pd-l"><b>Goodluck bribes Jonathan</b></a>
                  <div class="pd-l">
                    <small>69 views</small>
                    <small>status: <i>unresolved</i></small>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <footer></footer>

</body>

</html>