<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="iReporter enables any/every citizen to bring any form of corruption to the notice of appropriate authorities and the general public.">
  <meta name="author" content="Michael Obasi">
  <meta name="keyword" content="iReporter">
  <title>Signup | iReporter</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
  <header>
    <div class="navbar fixed shade-default bg-light">
      <div class="container">      
        <a href="" class="logo">
          <img src="../images/bg-2.svg" height="65px" alt="logo">eporter
        </a>
        <input type="checkbox" id="burger-toggle">
        <label id="burger" for="burger-toggle">
          <div></div>
        </label>
        <nav class="nav">
          <a class="nav-bar-link active" href="../index.html">Home</a>
          <a class="nav-bar-link" href="#">Services</a>
          <a class="nav-bar-link" href="login.html">Login</a>
          <a class="nav-bar-link" href="#">Signup</a>
        </nav>
      </div>
    </div>
  </header>

  <section class="main">
    <div class="container j-c-c">
      <form class="login-form w-100" action="./profile.html">
        <h1 class="h1">Sign Up</h1>

        <div class="row">
          <div class="col mg-r">
            <input type="text" class="form-control" placeholder="Firstname">
          </div>
          <div class="col mg-l">
            <input type="text" class="form-control" placeholder="Lastname">
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Othername">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address">
        </div> 
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="Phone number">
        </div> 
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>  
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password">
        </div>    

        <button type="submit" class="btn primary">Sign up</button>
        <small class="block text-dark">Already have an account? log in <a class="underscore"href="login.html">Here</a> </small>
      </form>
    </div>
  </section>

  <footer></footer>

</body>

</html>