<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="iReporter enables any/every citizen to bring any form of corruption to the notice of appropriate authorities and the general public.">
  <meta name="author" content="Michael Obasi">
  <meta name="keyword" content="iReporter">
  <title>iReporter</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/dashboard.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/layout.css">
</head>

<body>
  <header>
    <div class="navbar fixed shade-default bg-light">
      <div class="container">
        <a href="" class="logo">
          <img src="../../images/bg-2.svg" height="60px" alt="logo">eporter
        </a>
        <input type="checkbox" id="burger-toggle">
        <label id="burger" for="burger-toggle">
          <div></div>
        </label>
        <nav class="nav">
          <a class="nav-bar-link active" href="../index.html">Home</a>
          <a class="nav-bar-link" href="./createRedFlag.html">Create Red-flags</a>
          <a class="nav-bar-link" href="./createIntervention.html">Create Interventions</a>
          <a class="nav-bar-link" href="./login.html">Logout</a>
        </nav>
      </div>
    </div>
  </header>

  <section class="main">
    <div class="flex">
      <div class="right w-100">
        <div class="breadboard">
          <div class="breadboard-header">
            <span>Update status:</span>
            <button class="btn yellow btn-md">Under Investigation</button>
            <button class="btn green btn-md">Resolved</button>
            <button class="btn base btn-md">Rejected</button>
          </div>

          <div class="top">
            <div class="container pd-b">
              <h3 class="pd-t t-c"><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est neque labore aut al</b></h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit facilis dolorem numquam molestias nemo adipisci cupiditate odit! Laborum facilis eum, perferendis, placeat delectus totam quas officiis odit optio culpa saepe.</p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quasi consequatur corporis unde repudiandae esse sunt eveniet quidem nam debitis mollitia consequuntur quibusdam recusandae. Pariatur eum rem aut nam reiciendis?</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi labore blanditiis voluptatibus. Delectus facere fugit nesciunt laboriosam laborum iure cum atque ea amet, sint aliquam ipsum nulla nam magnam id?</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <footer></footer>

</body>

</html>