a{
  text-decoration: none;
}

.logo{
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap
}

.logo:hover,
.logo:focus {
  text-decoration: none
}

.section{
  width: 100%;
  height: auto;
  min-height: 75vh;
  background: url(../images/it_matters.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: var(--top);
  display: flex;
}


.login-form > *,
.red-flag > *,
.intervention > * {
  margin: .75rem;
}

.login-form,
.red-flag,
.intervention {
  margin-top: 2rem
}

.red-flag h4{ margin: .15rem}


.login-form .btn,
.red-flag .btn,
.intervention .btn,
.btn.danger,
.btn.primary,
.btn.success,
.btn.file{
  box-shadow: -1px 2px 1px 0 rgba(0, 0, 0, .5);
}

.btn.primary{
  background: var(--primary);
}

.btn.success{
  background: var(--blue);
}

.btn.danger{
  background: red;
}

.btn.base {
  background: var(--base);
  box-shadow: var(--shadow)
}

.btn.green{
  box-shadow: var(--shadow);
  background: var(--green)
}

.btn.yellow{
  box-shadow: var(--shadow);
  background: var(--yellow)
}


.btn.file{
  background: var(--primary-light);
  margin-top: .75rem;
  margin-left: 0;
}

.file{
  padding: 0;
  padding: .375rem 0 .375rem .75rem
}

.login-form .btn:hover{
  cursor: pointer;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .5);
}

h1, .h1{
  font-size: 2.3rem;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  color: var(--darken);
}

textarea{
  font-family: Arial, Helvetica, sans-serif;
}

strong{
  border: 1px solid var(--dark);
  border-radius: 50%;
  padding: 0 4px 
}

li a{ color: var(--darken)}

.subject{
  margin: 0;

}

.edit-buttons{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.lg { 
  font-size: 1.1rem;
  padding-left: .75em;
  padding-right: .75em
}


@media (min-width:576px) {
  .login-form, 
  .red-flag,
  .intervention{
    width: 95% !important
  }

  .file{
    margin-left: .75rem !important;
    margin-top: 0 !important;
  }
}

@media (min-width:768px) {
  .login-form,
  .red-flag,
  .intervention {
    width: 80% !important
  }
}

@media (min-width:992px) {
  .login-form,
  .red-flag,
  .intervention {
    width: 60% !important
  }
}


@media (min-width:1200px) {
  .login-form{
    width: 45% !important
  }

  .red-flag,
  .intervention {
    width: 50% !important

  }
}

