a{
  text-decoration: none;
}

.logo{
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap
}

.logo:hover,
.logo:focus {
  text-decoration: none
}

.section{
  width: 100%;
  height: auto;
  min-height: 75vh;
  background: url(../images/it_matters.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: var(--top);
  display: flex;
}


.login-form > *,
.red-flag > *{
  margin: .75rem;
}

.login-form,
.red-flag{
  margin-top: 2rem
}

.red-flag h4{ margin: .15rem}


.login-form .btn,
.red-flag .btn{
  color: white;
  cursor: pointer;
  box-shadow: -1px 2px 1px rgba(0, 0, 0, .5)
}

.btn.submit{
  background: var(--submit);
}

.btn.file{
  background: var(--submit-light)
}

.login-form .btn:hover{
  background: var(--warning);
  color: white;
  cursor: pointer;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, .5)
}

h1, .h1{
  font-size: 2.3rem;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
  color: var(--darken);
}

textarea{
  font-family: Arial, Helvetica, sans-serif;
}



@media (min-width:576px) {
  .login-form, 
  .red-flag{
    width: 75% !important
  }
}

@media (min-width:768px) {
  .login-form,
  .red-flag {
    width: 50% !important
  }
}

@media (min-width:992px) {
  .login-form,
  .red-flag {
    width: 45% !important
  }
}

@media (min-width:1200px) {
  .login-form,
  .red-flag {
    width: 40% !important
  }
}
